extends layout

block content

    //- each entry in words
    //-     p 
    //-         a(href=`/dictionary/${entry._id}`) #{entry.word}
    .error
    .row.practice
        .col-6.offset-3
            a.btn.btn-outline-dark.btn-block(href="/generate") Practice
    .row
        .col-12.col-sm-6.offset-sm-3
            form(method="post")
                .form-group
                    .row
                        .col-8
                            input.form-control(type="text", name="word", id="word", placeholder='Enter Word to learn')
                        .col-4
                            input.btn.btn-outline-dark.btn-block(id='learn-btn', type="submit", value="Learn")